@font-face {
    font-family: trueno;
    src:url(/Users/gabrielaalvarez/Documents/Web_exposicion/Trueno-titulo.otf);
}


:root {
    --tipo-grafia--: trueno;
    --acen-colot:  #DA2424;
    --dark-color: #000000;
    --light-color--: #ffffff;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.LOGO {
width: 150px;
height: auto;
}

.compra-entradas {
    background-color: var(--light-color--);
    margin: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compra-entradas a {
    color: var(--dark-color);
    font-family: trueno;
    font-weight: lighter;
    font-size: 14px;

}

/* MENU DESKTOP */

header {
    position: sticky;
    top: 0;
    background-color: var(--dark-color);
    /* color: var(--light-color--); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header a {
    color: var(--light-color--);
    font-family: trueno;
}

.menu-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.user {
    width: 50px;
    height: auto;

}

.carrito_compra {
    width: 50px;
    height: auto;
}

.hamb {
    display: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--light-color--);
}


/* Menu mobile */

.nav-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--pr-color);
    z-index: 9999;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.menu-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-mobile > li > a {
    font-size: 40px;
} 

/* Menu icons */

.hamb {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.side-menu {
    display: none;
}

.hamb > .fa-xmark {
    display: none;
}

/* Mostramos el menu mobile cuando se hace click en el icomo */
/* Toggle */

/* Selecciona .nav-mobilecuando el checkbox tiene el estado checked */
.side-menu:checked ~ .nav-mobile {
    max-height: 100%;

}

.side-menu:checked ~ .hamb > .fa-bars {
    display: none;
}
.side-menu:checked ~ .hamb > .fa-xmark {
    display: block;
}

@media screen  and (max-width: 720px) {

    * {
        font-size: 16px;
    }

    .nav-desktop{
        display: none;
    }

    .hamb {
        display: block;
    }
    
}


