/* TIPOGRAFÍAS */
@font-face {
    font-family: trueno;
    src: url(../tipos/Trueno-titulo.otf);
}

@font-face {
    font-family: lacquer;
    src: url(../tipos/Lacquer-Regular.ttf);
}

@font-face {
    font-family: trueno-regular;
    src: url(../tipos/Trueno-texto.otf);
}



:root {
    --tipo-grafia: trueno;
    --tipo-texto: trueno-regular;
    --tipo-deco: lacquer;
    --acen-color: #DA2424;
    --dark-color: #000000;
    --light-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}


a {
    text-decoration: none;
}


ul {
    list-style: none;
}


.LOGO {
    width: 150px;
    height: auto;
    margin-left: 10px;
}




/* BARRA SUPERIOR */

.compra-entradas {
    background-color: var(--light-color);
    margin: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compra-entradas a {
    color: var(--dark-color);
    font-family: var(--tipo-texto);
    font-weight: lighter;
    font-size: 14px;
}



/* HEADER */

header {
    position: sticky;
    top: 0;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
}

header a {
    color: var(--light-color);
    font-family: var(--tipo-texto);
    font-size: 18px;
    font-weight: lighter;
    transition: 0.3s;
}

/* Esto lo que hace, es que cuando pasas el mouse por encima cambia de color */
header a:hover {
    color: var(--acen-color);
}




/* MENU DESKTOP */

.menu-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.user {
    width: 40px;
    height: auto;
}

.carrito_compra {
    width: 40px;
    height: auto;
}

.nav-desktop {
    margin-left: auto;
}

/* esconde el chechbox */
.side-menu {
    display: none;
}



/* ICONO HAMBURGUESA */

.hamb {
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: var(--light-color);
}

.hamb .fa-xmark {
    display: none;
}

.hamb i {
    font-size: 30px;
}



/* MENU MÓVIL */

.nav-mobile {
    width: 100%;
    position: fixed;
    top: 64px;
    left: 0;
    background-color: var(--dark-color);
    z-index: 9999;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
}

.menu-mobile > li > a {
    font-size: 18px;
    color: var(--light-color);
    font-family: var(--tipo-texto);
    transition: 0.3s;
}

.menu-mobile > li > a:hover {
    color: var(--acen-color);
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
    margin-right: 30px;
}



/* Mostramos el menu mobile cuando se hace click en el icomo */
/* Toggle */
/* (ADRIAN) */
/* Selecciona .nav-mobilecuando el checkbox tiene el estado checked */
.side-menu:checked ~ .nav-mobile {
    max-height: 100vh;
}

.side-menu:checked ~ .hamb .fa-bars {
    display: none;
}

.side-menu:checked ~ .hamb .fa-xmark {
    display: block;
}



/* HERO */

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto hace que la imagen cubra todo el espacio sin deformarse */
    object-position: center; /* Centra la imagen para que no se corte un lado importante */
    display: block;
}

.hero-content {
    position: absolute;
    bottom: 140px;
    left: 60px;
    z-index: 10;
}

.hero-content h1 {
    font-family: var(--tipo-grafia);
    font-size: 80px;
    color: var(--light-color);
    line-height: 1;
    margin-bottom: 20px;
}

.hero-content .btn-cta {
    background-color: var(--acen-color);
    color: var(--light-color);
    font-family: var(--tipo-texto);
    font-size: 16px;
    padding: 16px 36px;
    display: inline-block;
    border-radius: 8px;
}




/* TIRA DE SOBRE NOSOTROS */
.sobrenosotros {
    background-color: var(--acen-color);
    color: var(--dark-color);
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
}


.sobrenosotros-track span {
    font-family: var(--tipo-deco);
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--light-color);
}

/* ANIMACIONES DE LA TIRA SOBRENOSOTROS */
.sobrenosotros-track {
    display: flex;
    gap: 60px;
    animation: sobrenosotros 6s linear infinite;
}

@keyframes sobrenosotros {
    0% { transform: translate(0);}
    100% { transform: translate(-50%);}
}



/* SECCION DE TIENDA */
.sect-sobre-noso {
    display: flex;
    gap: 40px;
    padding: 40px 10px;
    background-color: var(--light-color);
    align-items: flex-start;
    max-width: 1200px;
    margin: 0px auto;

}

.texto-sobre-noso {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texto-sobre-noso p {
    font-family: var(--tipo-texto);
    font-size: 24px;
    color: var(--dark-color);
}

.img-sobre-noso {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-sobre-noso img:first-child {
    width: 40%;
    height: 210px;
    object-fit: cover;
}
.img-sobre-noso img:last-child{
    width: 60%;
    height: 560px;
    object-fit: cover;
}



/* USUARIO */

/* TIRA DE USUARIO*/
.usuario {
    background-color: var(--dark-color);
    width: 100%;
    padding: 8px 0;
    border-top: 1px solid rgb(255, 255, 255);
}

.usuario-track {
    padding: 0 24px; 
    display: block;
}

.usuario-track span {
    color: var(--light-color);
    font-family: var(--tipo-grafia);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    display: inline-block;
}



/* FORMULARIO USUARIO */
.container-registro {
    max-width: 500px;
    margin: 60px auto;
    padding: 0 20px;
}

#registro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

/* CAJAS DE TEXTO */
.form-item {
    width: 100%;
}

.form-item input {
    width: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    padding: 18px 20px;
    font-family: var(--tipo-texto);
    font-size: 16px;
    outline: none;
}


.form-item input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

/* SECCIÓN DEL CHECKBOX (Términos) */
.form-aceptar {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: flex-start;
}

.form-aceptar input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-top: 3px;
    cursor: pointer;
    accent-color: var(--dark-color);
}

.form-aceptar label {
    font-family: var(--tipo-texto);
    font-size: 11px;
    color: var(--dark-color);
    line-height: 1.5;
    cursor: pointer;
}

/* BOTÓN DE ENVÍO*/
.btn-enviar {
    background-color: var(--acen-color);
    color: var(--light-color);
    border: none;
    padding: 12px 45px;
    font-family: var(--tipo-deco);
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-enviar:hover {
    transform: scale(1.05);
    background-color: #b31d1d;
}


/* RESPONSIVE */
@media screen and (max-width: 480px) {
    .container-registro {
        margin: 30px auto;
    }
    
    .btn-enviar {
        width: 100%; /* Botón ancho total en móviles */
    }
}


/* USUARIO FOTO */

#usuario {
    width: 100vw;
    height: 100vh;
    overflow: hidden ;
    display: block;
}

#usuario img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}






/* RESPONSIVE TIENDA */

/* TABLET */

@media screen and (max-width: 1024px) {

    * {
        font-size: 16px;
    }

/* HEADER */
    .nav-desktop {
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .LOGO {
        order: 1;
    }

    .header-icons {
        order: 2;
        margin-left: auto;
    }

    .hamb {
        order: 3;
        margin-left: 15px;
    }

    .user {
        width: 40px;
    }

    .carrito_compra {
        width: 40px;
    }
}



    /* MOVIL */

@media screen and (max-width: 720px) {

    * {
        font-size: 16px;
    }
    
    /* HEADER */
    .nav-desktop {
        display: none;
    }
        .user {
        width: 40px;
    }
    
    .carrito_compra {
        width: 40px;
    }
    
    .hamb {
        display: flex;
        align-items: center;
    
    }
    
    header {
        justify-content: space-between;
    }
    
    .LOGO {
        order: 1;
    }
    
    .header-icons {
        order: 2;
        margin-left: auto;
    }
    
    .hamb {
        order: 3;
        margin-left: 15px;
    }
    
    /* HERO */
    
    .hero-content {
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
    }
    
    .hero-content h1 {
        font-size: 60px;
    }
    
    .hero-content .btn-cta {
        font-size: 14px;
        padding: 12px 24px;
    }
}
